/* defines a global custom property */
:root {
  --bg-blue: #45567d;
  --bg-red: rgb(144, 0, 0);
  --bg-grey: rgb(200, 200, 200);
  --font-color-white: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  /* margin: 0; */
}
ul {
  /* Set liststyle,margin and padding to remove default style for the ul */
  list-style-type: none;
  /* margin: 0;
  padding: 0; */
  display: flex;
  margin-right: 32px;
}

.nav-bar-cls {
  display: flex;
  justify-content: flex-end;
  width: 100%; /* Full width */
  top: 0; /* Position the navbar at the top of the page */
  left: 0; /* Position the navbar from the left of the page */
  position: fixed; /* Set the navbar to fixed position */
  background-color: var(--bg-red);
}

.nav-bar-cls a {
  display: block;
  color: var(--font-color-white);
  text-decoration: none;
  /* top,bottom 20px and right,left 15px  */
  padding: 20px 15px;
  font-size: 22px;
}
h1 {
  color: var(--font-color-white);
  font-size: 50px;
  /* margin: 0; */
}
p {
  color: var(--font-color-white);
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-style: italic;
  font-size: 25px;
  /* margin: 0; */
}
#welcome-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* Align center in the first column */
  justify-content: center;
  /* Align center in the viewport */
  align-items: center;
  background-color: #1e434c;
}
h2 {
  /* margin:0; */
  text-align: center;
  padding-top: 100px;
  font-family: "Comic Sans MS", Arial, sans-serif;
  color: var(--font-color-white);
  font-style: italic;
  font-size: 30px;
}
#projects {
  width: 100%;
  height: auto;

  background-color: var(--bg-blue);
  /* display: flex; 
  flex-wrap: wrap; */
}
/* css margin applies to all img tags under projects-section */
img {
  width: 390px;
  height: 300px;
  /* border-width:3px;  
  border-style:groove; 
  border-color: rgba(100, 100, 100,0.6); */
}
figure {
  padding: 15px;
}
figcaption {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  color: var(--font-color-white);
  background-color: rgba(200, 200, 200, 0.5);
  text-align: center;
  font-family: "Comic Sans MS", Arial, sans-serif;
  font-style: italic;
  font-size: 20px;
}
#projectDiv {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#contact-section {
  background-color: #1e434c;
  width: 100%;
  height: 100%;
}
.button {
  border: none;
  color: var(--font-color-white);
  background-color: rgba(200, 200, 200, 0.5);
  padding: 15px 32px;
  font-size: 16px;
  cursor: pointer;
}
